body {
    background-color: #333333;
}
.clock {
    width: 460px;
    height: 70px;
    box-shadow: 6px 6px 10px rgb(9, 9, 9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60PX;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 7PX;
}